<div class="bg-secondary pt-4 pb-4 pb-sm-0">
    <div class="container d-flex justify-between flex-sm-column navbar-wrap">
        <a href="index.html" class="navbar-logo">
            <img src="../assets/images/logo-new_工作區域 1.png" alt="logo"></a>
        <ul class="navbar-nav d-flex align-center wrap mt-sm-4">
            <li class="navbar-item border-sm-right"><a href="product-optical.html"  class="navbar-link fs-5 d-block fs-sm-4 text-center">系列鏡框</a></li>
            <li class="navbar-item"><a href="#"  class="navbar-link fs-5 d-block fs-sm-4 text-center">門市據點</a></li>
            <li class="navbar-item border-sm-right"><a href="#"  class="navbar-link fs-5 d-block fs-sm-4 text-center">部落格</a></li>
            <li class="navbar-item"><a href="#"  class="navbar-link fs-5 d-block fs-sm-4 text-center">常見問題</a></li>
        </ul>
    </div>
</div> 