<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OPTICAL</title>
</head>
<body>
    <%- include('./layout/navbar'); -%>

    <div class="item">
        <ul class="item-bar d-flex justify-center mx-auto ">
            <li><a class=" text-center pt-6 pb-6 active d-block fs-6" href="#">OPTICAL</a></li>
            <li><a class=" text-center pt-6 pb-6 d-block fs-6" href="./product-sunglasses.html">SUNGLASSES</a></li>
            <li><a class=" text-center pt-6 pb-6 d-block fs-6" href="#">FUNCTIONAL</a></li>
        </ul>
    </div>

    <div class="product-header d-flex">
        <div class="product-header1 col-6"></div>
        <div class="product-header2 col-6"></div>
    </div>

    <div class="product">
        <div class="container">
            <h2>Celluloid Combi</h2>
            <h3>賽璐珞鈦金屬混合鏡框</h3>
            <ul class="d-flex justify-between wrap">
                <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6 card">
                    <a href="#"><img src="../assets/images/product-1.png" alt="image"></a>
                    <div class="product-iformation d-flex justify-between ">
                        <p class="product-name fs-6">BJ41600S</p>
                        <p class="product-price fs-6">NTD3,490</p>
                    </div>
                    <div class="product-color d-flex">
                        <a href="#"><div class="color-1"></div></a>
                        <a href="#"><div class="color-2"></div></a>
                    </div>
                </li>
                <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6 card">
                    <a href="#"><img src="../assets/images/product-2.png" alt="image"></a>
                    <div class="product-iformation d-flex justify-between">
                        <p class="product-name fs-6">BJ41600S</p>
                        <p class="product-price fs-6">NTD3,490</p>
                    </div>
                    <div class="product-color d-flex">
                        <a href="#"><div class="color-1"></div></a>
                        <a href="#"><div class="color-2"></div></a>
                    </div>
                </li>
                <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6 card">
                    <img src="../assets/images/product-3.png" alt="image">
                    <div class="product-iformation d-flex justify-between">
                        <p class="product-name fs-6">BJ41600S</p>
                        <p class="product-price  fs-6">NTD3,490</p>
                    </div>
                    <div class="product-color d-flex">
                        <a href="#"><div class="color-1"></div></a>
                        <a href="#"><div class="color-2"></div></a>
                    </div>
                </li>
                <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6 card">
                    <img src="../assets/images/product-4.png" alt="image">
                    <div class="product-iformation d-flex justify-between">
                        <p class="product-name fs-6">BJ41600S</p>
                        <p class="product-price fs-6">NTD3,490</p>
                    </div>
                    <div class="product-color d-flex">
                        <a href="#"><div class="color-1"></div></a>
                        <a href="#"><div class="color-2"></div></a>
                    </div>
                </li>
                <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6 card"> 
                    <img src="../assets/images/product-5.png" alt="image">
                    <div class="product-iformation d-flex justify-between">
                        <p class="product-name fs-6">BJ41600S</p>
                        <p class="product-price fs-6">NTD3,490</p>
                    </div>
                    <div class="product-color d-flex">
                        <a href="#"><div class="color-1"></div></a>
                        <a href="#"><div class="color-2"></div></a>
                    </div>
                </li>
                <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6 card"> 
                    <img src="../assets/images/product-6.png" alt="image">
                    <div class="product-iformation d-flex justify-between">
                        <p class="product-name fs-6">BJ41600S</p>
                        <p class="product-price fs-6">NTD3,490</p>
                    </div>
                    <div class="product-color d-flex">
                        <a href="#"><div class="color-1"></div></a>
                        <a href="#"><div class="color-2"></div></a>
                    </div>
                </li>
                <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6 card"> 
                    <img src="../assets/images/product-1.png" alt="image">
                    <div class="product-iformation d-flex justify-between">
                        <p class="product-name fs-6 fs-6">BJ41600S</p>
                        <p class="product-price fs-6 fs-6">NTD3,490</p>
                    </div>
                    <div class="product-color d-flex">
                        <a href="#"><div class="color-1"></div></a>
                        <a href="#"><div class="color-2"></div></a>
                    </div>
                </li>
                <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6 card"> 
                    <img src="../assets/images/product-2.png" alt="image">
                    <div class="product-iformation d-flex justify-between">
                        <p class="product-name fs-6 fs-6">BJ41600S</p>
                        <p class="product-price fs-6 fs-6">NTD3,490</p>
                    </div>
                    <div class="product-color d-flex">
                        <a href="#"><div class="color-1"></div></a>
                        <a href="#"><div class="color-2"></div></a>
                    </div>
                </li>
                <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6 card"> 
                    <img src="../assets/images/product-3.png" alt="image">
                    <div class="product-iformation d-flex justify-between">
                        <p class="product-name fs-6 fs-6">BJ41600S</p>
                        <p class="product-price fs-6 fs-6">NTD3,490</p>
                    </div>
                    <div class="product-color d-flex">
                        <a href="#"><div class="color-1"></div></a>
                        <a href="#"><div class="color-2"></div></a>
                    </div>
                </li>
                <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6 card"> 
                    <img src="../assets/images/product-4.png" alt="image">
                    <div class="product-iformation d-flex justify-between">
                        <p class="product-name fs-6">BJ41600S</p>
                        <p class="product-price fs-6">NTD3,490</p>
                    </div>
                    <div class="product-color d-flex">
                        <a href="#"><div class="color-1"></div></a>
                        <a href="#"><div class="color-2"></div></a>
                    </div>
                </li>
                <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6 card"> 
                    <img src="../assets/images/product-5.png" alt="image">
                    <div class="product-iformation d-flex justify-between">
                        <p class="product-name fs-6">BJ41600S</p>
                        <p class="product-price fs-6">NTD3,490</p>
                    </div>
                    <div class="product-color d-flex">
                        <a href="#"><div class="color-1"></div></a>
                        <a href="#"><div class="color-2"></div></a>
                    </div>
                </li>
                <li class="col-3 col-md-6 col-sm-12 mb-20 mb-md-10 mb-sm-6 card"> 
                    <img src="../assets/images/product-6.png" alt="image">
                    <div class="product-iformation d-flex justify-between">
                        <p class="product-name fs-6">BJ41600S</p>
                        <p class="product-price fs-6">NTD3,490</p>
                    </div>
                    <div class="product-color d-flex">
                        <a href="#"><div class="color-1"></div></a>
                        <a href="#"><div class="color-2"></div></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <ul class="d-flex justify-center page mb-20 mb-sm-16 mt-sm-16">
            <li class="change-pages"><a href="">上一頁</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li class="change-pages"><a href="">下一頁</a></li>
        </ul>
    </div>

    <%- include('./layout/footer') -%>

<script type="module" src="../main.js"></script>
</body>
</html>